
background-image url("../images/coffeeGrey.png")


// BASIC STYLING

ul
	list-style none
	text-align left

header
	background-image url("../images/honey_im_subtle.png")
	// margin 0px
	// padding 0px
	text-align center
	margin-left 9%
	margin-right 9%
	padding-top 2%
	padding-bottom 2%
	padding-left 2%
	padding-right 2%
	border-bottom 20px solid #C0E6DE

#logo
	width 75%

h2
	margin-left 4%
	margin-top 2%
	font-family robotoThin

body
	font-family robotoThin
	background-image url("../images/honey_im_subtle.png")



// TEXT STYLING

.boldText
	font-weight: bold

@font-face
	font-family roboto
	src url(../fonts/Roboto-Black.ttf)

@font-face
	font-family robotoThin
	src url(../fonts/Roboto-Thin.ttf)

@font-face
	font-family robotoBold
	src url(../fonts/Roboto-Bold.ttf)

@font-face
	font-family robotoCondensed
	src url(../fonts/Roboto-Condensed.ttf)



// NEIGHBOURHOOD STYLING

.neighbourhoodContainer
	flex 2
	display flex
	display -webkit-flex
	color black
	text-shadow 10px
	margin-top 5%
	//margin-left 10%
	//margin-right 10%
	text-align center
	//max-width 80%
	width 100%

.neighbourhoodIconContainer
	display flex
	display -webkit-flex
	flex-direction row
	-webkit-flex-direction row
	justify-content space-around
	-webkit-justify-content space-around
	margin-top 10%
	margin-bottom 10%
	margin-left 6%
	margin-right 6%

.neighbourhoodIcon
	max-width 15%
	max-height 15%
	width 100%
	height 100%

.chosenNeighbourhoodIcon
	max-width 15%
	max-height 15%
	width 100%
	height 100%
	border-radius 50%
	background-color #f28d5f


.neighbourhoodPickerHeader
	margin-bottom 10%


.coffeePickerHeader
	margin-top 5%
	margin-bottom 2%



// COFFEE SHOP LIST STYLING

.downtownList
	//background-color #d9d9d9
	color black
	list-style none
	letter-spacing .21em
	font-size 1.5em
	font-family robotoCondensed

li:hover
	color #f28d5f


// INTEREST ICON STYLING

.iconContainer
	text-align center
	display flex
	display -webkit-flex
	flex-direction row
	-webkit-flex-direction row
	justify-content space-around
	-webkit-justify-content space-around
	margin-left 6%
	margin-right 6%
	margin-top 8%
	margin-bottom 0px
	height 100%

.iconLabels
	text-align center
	display flex
	display -webkit-flex
	flex-direction row
	-webkit-flex-direction row
	justify-content space-around
	-webkit-justify-content space-around
	margin-right 6%
	margin-left 6%
	margin-top 0
	margin-bottom 5%



.icon
	max-width 15%
	max-height 15%
	width 100%
	height 100%

.chosenIcon
	max-width 15%
	max-height 15%
	width 100%
	height 100%
	border-radius 50%
	background-color #f28d5f




// FULLPAGE STYLING

.site
	//display flex
	//display -webkit-flex
	//flex-direction column
	//-webkit-flex-direction column
	min-height 100vh
	background-color rgba(255, 255, 255, .95)
	margin-left 9%
	margin-right 9%
	margin-bottom 4%
	align-content vertical
	padding-top 4%
	padding-bottom 4%
	padding-left 2%
	padding-right 2%


//	FOOTER STYLING

.footerContainer
	flex 3
	display flex
	display -webkit-flex
	flex-direction row
	-webkit-flex-direction row
	align-content space-between
	justify-content center
	margin-top 13%
	margin-bottom 0%
	font-size .8em
	letter-spacing .13em




// COFFEE SHOP STYLING

.shopSite
	display flex
	display -webkit-flex
	flex-direction row
	-webkit-flex-direction row
	align-content space-between
	-webkit-align-content space-between

.container1
	display flex
	display -webkit-flex
	flex-direction column
	-webkit-flex-direction column
	justify-content space-around
	-webkit-justify-content space-around
	align-items flex-start
	-webkit-align-items flex-start
	width 50%
	margin-left 5%


.container2
	display flex
	display -webkit-flex
	flex-direction column
	-webkit-flex-direction column
	align-items left
	justify-content left
	width 50%
	margin-right 5%
	margin-left 10%




.shopInstagram
	height auto
	width 350px
	height 350px
	background-color #C0E6DE


.shopHours
	font-family Raleway, sans-serif
	text-justify inter-word


.container1
	font-family Raleway, sans-serif


.shopName
	height 50px
	width 300px

.shopName a:link
	color: #E88D67
	text-decoration none

.shopName a:visited
	color #E88D67

.shopName a:hover
	color #BB999C

.shopName a:active
	color #COE6DE

.socialButton
	text-decoration none
