ul {
  list-style: none;
  text-align: left;
}
header {
  background-image: url("../images/honey_im_subtle.png");
  text-align: center;
  margin-left: 9%;
  margin-right: 9%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 20px solid #c0e6de;
}
#logo {
  width: 75%;
}
h2 {
  margin-left: 4%;
  margin-top: 2%;
  font-family: robotoThin;
}
body {
  font-family: robotoThin;
  background-image: url("../images/honey_im_subtle.png");
}
.boldText {
  font-weight: bold;
}
@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: robotoThin;
  src: url("../fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: robotoBold;
  src: url("../fonts/Roboto-Bold.ttf");
}
.neighbourhoodContainer {
  flex: 2;
  color: #000;
  text-shadow: 10px;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.map {
  height: auto;
  width: 100%;
}
.downtownList {
  background-color: #d9d9d9;
  top: 10%;
  left: 30%;
  opacity: 0.9;
  color: #000;
  height: 24%;
  width: 15%;
  padding: 3.2%;
  border-radius: 20px;
  position: absolute;
  left: 30%;
  top: 170%;
  list-style: none;
}
@media (max-width: 875px) {
  .neighbourhoodContainer {
    max-width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 690px) {
  .downtownMap,
  .midtownMap,
  .corktownMap,
  .westVillageMap,
  .newCenterMap,
  .easternMarketMap,
  .rosedaleMap,
  .hamtramckMap {
    position: static;
  }
}
.iconContainer {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 8%;
  margin-bottom: 0px;
  height: 100%;
}
.iconLabels {
  text-align: center;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  margin-right: 6%;
  margin-left: 6%;
  margin-top: 0;
  margin-bottom: 5%;
}
.icon {
  max-width: 15%;
  max-height: 15%;
  width: 100%;
  height: 100%;
}
.chosenIcon {
  max-width: 15%;
  max-height: 15%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #f28d5f;
}
.site {
  min-height: 100vh;
  background-color: rgba(255,255,255,0.95);
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 4%;
  align-content: vertical;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
}
.footerContainer {
  flex: 2;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-content: space-between;
  justify-content: center;
  margin-top: 13%;
  margin-bottom: 0%;
  font-size: 0.8em;
  letter-spacing: 0.13em;
}
.shopSite {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-content: space-between;
  -webkit-align-content: space-between;
}
.container1 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  width: 50%;
  margin-left: 5%;
}
.container2 {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 50%;
  margin-right: 5%;
  margin-left: 10%;
}
.shopInstagram {
  height: auto;
  width: 350px;
  height: 350px;
  background-color: #c0e6de;
}
.shopHours {
  font-family: Raleway, sans-serif;
  text-justify: inter-word;
}
.container1 {
  font-family: Raleway, sans-serif;
}
.shopName {
  height: 50px;
  width: 300px;
}
.shopName a:link {
  color: #e88d67;
  text-decoration: none;
}
.shopName a:visited {
  color: #e88d67;
}
.shopName a:hover {
  color: #bb999c;
}
.shopName a:active {
  color: #ccc OE6DE;
}
.socialButton {
  text-decoration: none;
}
