body {
  background-image: url("../images/honey_im_subtle.png");
}
.rioGlamour {
  font-family: rioGlamour;
  letter-spacing: 0.25em;
}
ul {
  list-style: none;
  text-align: left;
}
header {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
#logo {
  width: 60%;
}
h2 {
  margin-left: 4%;
  margin-top: 2%;
}
.boldText {
  font-weight: bold;
}
@fontface {
  font-family: rioGlamour;
  src: url("../fonts/RioGlamour2.otf");
}
.neighbourhoodContainer {
  flex: 1;
  color: #fff;
  text-shadow: 10px;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}
.map {
  height: auto;
  width: 100%;
}
.downtownList {
  position: absolute;
  background-color: #d9d9d9;
  top: 10%;
  left: 30%;
  opacity: 0.85;
  color: #000;
  height: 24%;
  width: 34%;
  padding: 3.2%;
  border-radius: 20px;
}
@media (max-width: 875px) {
  .neighbourhoodContainer {
    max-width: 100%;
    margin-left: 0px;
  }
}
@media (max-width: 690px) {
  .downtownMap,
  .midtownMap,
  .corktownMap,
  .westVillageMap,
  .newCenterMap,
  .easternMarketMap,
  .rosedaleMap,
  .hamtramckMap {
    position: static;
  }
}
.iconContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 8%;
  margin-bottom: 13%;
}
.icon {
  height: 100px;
  height: auto;
}
.site {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  min-height: 100vh;
  background-color: rgba(192,189,189,0.3);
  margin-left: 9%;
  margin-right: 9%;
  margin-bottom: 4%;
  align-content: vertical;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  border-raidus: 5px;
}
.footerContainer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  height: 100%;
}
