<div class="aboutContainer">
    <div class="headshotContainer">
        <img class="aboutImg headshot" src="http://placekitten.com/300/300" />
        <h3>Autumn Apsey</h3>
        <a href="https://github.com/autumnapsey/">Github</a> |
        <a href="https://www.linkedin.com/in/autumnapsey">LinkedIn</a> |
        <a href="http://autumnapsey.com/">Portfolio</a>
    </div>
    <div class="headshotContainer">
        <img class="aboutImg headshot" src="http://placekitten.com/300/300" />
        <h3>Rose</h3>
        <a href="github">Github</a> |
        <a href="linkedIn">LinkedIn</a> |
        <a href="portfolio">Portfolio</a>
    </div>
    <div class="headshotContainer">
        <img class="aboutImg headshot" src="http://placekitten.com/300/300" />
        <h3>Veronica</h3>
        <a href="github">Github</a> |
        <a href="linkedIn">LinkedIn</a> |
        <a href="portfolio">Portfolio</a>
    </div>
</div>