<div class="aboutContainer">

  <div class="headshotContainer">
     <img class="aboutImg headshot" src="../images/headshots/headshotAutumn.jpg" />
     <h3>Autumn Apsey</h3>
     <a href="https://github.com/autumnapsey/">GitHub</a>
     <a href="https://www.linkedin.com/in/autumnapsey">LinkedIn</a>
  </div>

  <div class="headshotContainer">
     <img class="aboutImg headshot" src="../images/headshots/headshotRose.jpg" />
     <h3>Rose</h3>
     <a href="https://github.com/rrcamp/">GitHub</a>
  </div>

  <div class="headshotContainer">
     <img class="aboutImg headshot" src="../images/headshots/headshotVeronica.jpg" />
     <h3>Veronica</h3>
     <a href="https://github.com/Veronica2000/">GitHub</a>
     <a href="https://www.linkedin.com/in/veronicarobinwilliams">LinkedIn</a>
  </div>

</div>
