<div class="aboutContainer">

  <div class="headshotContainer">
     <img class="aboutImg headshot" src="../images/headshots/headshotAutumn.png" />
     <h3 class="name">AUTUMN</h3>
     <p class="bio">Autumn is ready to make her mark in the tech industry. Before jumping into Front End Development at Grand Circus, she was a Business Office Manager and worked abroad in Denmark and Brazil with Childrens Internationl Summer Villages (CISV) leading a delegation of international children to promote global peace through understanding. She graduated from Michigan State University with a degree in Social Sciences, and but is willing to pair program with Wolverines if pushed. She is currently excited about builing her new computer from scratch and exploring programming opportunities in the metro-Detroit area.</p>
     <div class="linkContainer">
       <a href="https://github.com/autumnapsey/"><i class="fa fa-github-square links" aria-hidden="true"></i></a>
       <a href="https://www.linkedin.com/in/autumnapsey"><i class="fa fa-linkedin-square links" aria-hidden="true"></i></a>
       <a href="mailto:autumnapsey@gmail.com?Subject=Contacting%20you%20about%20Urban%20Grounds" target="_top"><i class="fa fa-envelope-square links" aria-hidden="true"></i></a>
     </div>
  </div>

  <div class="headshotContainer">
     <img class="aboutImg headshot" src="../images/headshots/headshotRose.png" />
     <h3 class="name">ROSE</h3>
     <p class="bio">Rose is a Detroit native with a funny accent. She studied Philosophy and Economics at the University of Edinburgh, where she was heavily involved with the  North American, Entrepreneurship, and Whisky Societies before returning home to pursue programming at Grand Circus. In addition to JavaScript, she also speaks Swedish and Spanish fluently, and hopes to work on projects in the future that will allow her to combine her background in economics and entrepreneurship with her newfound love of programming.</p>
     <div class="linkContainer">
       <a href="https://github.com/rrcamp/"><i class="fa fa-github-square links" aria-hidden="true"></i></a>
       <a href="mailto:rcampau@icloud.com?Subject=Contacting%20you%20about%20Urban%20Grounds" target="_top"><i class="fa fa-envelope-square links" aria-hidden="true"></i></a>
     </div>
  </div>

  <div class="headshotContainer">
     <img class="aboutImg headshot" src="../images/headshots/headshotVeronica.png" />
     <h3 class="name">VERONICA</h3>
     <p class="bio">Veronica is excited to be in the world of Web Development. She has a degree in Fine Arts from Wayne State University, giving her a unique eye for styles and color when designing web pages. Prior to Grand Circus, she worked as an Administrative Assistant for ten years at a university, and is currently working as a Junior Front End Developer at Crowd.</p>
     <div class="linkContainer">
       <a href="https://github.com/Veronica2000/"><i class="fa fa-github-square links" aria-hidden="true"></i></a>
       <a href="https://www.linkedin.com/in/veronicarobinwilliams"><i class="fa fa-linkedin-square links" aria-hidden="true"></i></a>
       <a href="mailto:veronica.robin.williams@gmail.com?Subject=Contacting%20you%20about%20Urban%20Grounds" target="_top"><i class="fa fa-envelope-square links" aria-hidden="true"></i></a>
     </div>
  </div>

</div>
