<h2>First pick what your interest is...</h2>

<div class="iconContainer">
	<img ng-class="class" ng-click="chooseInterest('music'); changeClass($event)" src="../images/EntertainmentCircle.png" title="Entertainment"/>
	<img ng-class="class" ng-click="chooseInterest('work'); changeClass($event)" src="../images/WorkCircle.png" title="Productivity"/>
	<img ng-class="class" ng-click="chooseInterest('food'); changeClass($event)" src="../images/FoodCircle.png" title="Food"/>
	<img ng-class="class" ng-click="chooseInterest('social'); changeClass($event)" src="../images/SocialCircle.png" title="Socialising"/>
	<img ng-class="class" ng-click="chooseInterest('all'); changeClass($event)"src="../images/CoffeeCircle.png" title="I don't care, just give me coffee."/>
</div>

<h2>Then pick what neighborhood you want to go to...</h2>

<div class="neighbourhoodContainer">
	<ul>
		<li ng-click="clickToOpen(); showDowntown()" id="downtown">Downtown</li>
		<li ng-click="midtown = !midtown" id="midtown">Midtown</li>
		<li ng-click="corktown = !corktown" id="corktown">Corktown</li>
		<li ng-click="newCenter = !newCenter" id="newCenter">New Center</li>
		<li ng-click="easternMarket = !easternMarket" id="easternMarket">Eastern Market</li>
	</ul>

</div>
