<h2>First pick what your interest is...</h2>

<div class="iconContainer">
	<img ng-class="class" ng-click="chooseInterest('music'); changeInterestClass($event)" src="../images/EntertainmentCircle.png" title="Entertainment"/>
	<img ng-class="class" ng-click="chooseInterest('work'); changeInterestClass($event)" src="../images/WorkCircle.png" title="Productivity"/>
	<img ng-class="class" ng-click="chooseInterest('food'); changeInterestClass($event)" src="../images/FoodCircle.png" title="Food"/>
	<img ng-class="class" ng-click="chooseInterest('social'); changeInterestClass($event)" src="../images/SocialCircle.png" title="Socialising"/>
	<img ng-class="class" ng-click="chooseInterest('all'); changeInterestClass($event)"src="../images/CoffeeCircle.png" title="I don't care, just give me coffee."/>
</div>
<div class="iconLabels">
	<p>Music</p>
	<p>Work</p>
	<p>Food</p>
	<p>Social</p>
	<p>Coffee</p>

</div>

<h2 neighbourhoodPickerHeader>Then pick what neighborhood you want to go to...</h2>


<div class="neighbourhoodIconContainer">
	    <img src="../images/neighbourhoodIcons/circleDowntown.png" ng-click="downtownList = !downtownList; changeNeighbourhoodClass($event)" id="downtown" ng-class="neighbourhoodClass" />
	    <img src="../images/neighbourhoodIcons/circleCorktown.png" ng-click="corktownList = !corktownList; changeNeighbourhoodClass($event)" id="corktown" ng-class="neighbourhoodClass" />
	    <img src="../images/neighbourhoodIcons/circleMidtown.png" ng-click="midtownList = !midtownList; changeNeighbourhoodClass($event)" id="midtown" ng-class="neighbourhoodClass" />
	    <img src="../images/neighbourhoodIcons/circleEasternMarket.png" ng-click="easternMarketList = !easternMarketList; changeNeighbourhoodClass($event)" id="easternMarket" ng-class="neighbourhoodClass" />
	    <img src="../images/neighbourhoodIcons/circleNewCenter.png" ng-click="newcenterList = !newcenterList; changeNeighbourhoodClass($event)" id="newcenter" ng-class="neighbourhoodClass" />
</div>

<h2 clsss="coffeePickerheader">Now choose your coffee shop!</h2>

<div class="neighbourhoodContainer" ng-app="coffeeshops">

	<p>{{coffeeshop}}</p>

	<div ng-show="downtownList" class="downtownList" ng-model="coffeeshop">
		<ul ng-show="downtownList">
			<li ng-repeat="store in places.downtown track by $index" ng-click="chooseShop(places.downtown,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="midtownMap" class="midtownList" ng-model="coffeeshop">
		<ul ng-show="midtownList">
			<li ng-repeat="store in places.midtown track by $index" ng-click="chooseShop(places.midtown,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="newCenterMap" class="newCenterList" ng-model="coffeeshop">
		<ul ng-show="newcenterList">
			<li ng-repeat="store in places.newCenter track by $index" ng-click="chooseShop(places.newCenter,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="corktownMap" class="corktownList" ng-model="coffeeshop">
		<ul ng-show="corktownList">
			<li ng-repeat="store in places.corktown track by $index" ng-click="chooseShop(places.corktown,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="westVillageMap" class="westVillageList" ng-model="coffeeshop">
		<ul ng-show="westVillageList">
			<li ng-repeat="store in places.westVillage track by $index" ng-click="chooseShop(places.westVillage,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="hamtramckMap" class="hamtramckList" ng-model="coffeeshop">
		<ul ng-show="hamtramckList">
			<li ng-repeat="store in places.hamtramck track by $index" ng-click="chooseShop(places.hamtramck,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="easternMarketMap" class="easternMarketList" ng-model="coffeeshop">
		<ul ng-show="easternMarketList">
			<li ng-repeat="store in places.easternMarket track by $index" ng-click="chooseShop(places.easternMarket,$index)">{{store.name}}</li>
		</ul>
	</div>

	<div class="rosedaleMap" class="rosedaleParkList" ng-model="coffeeshop">
		<ul ng-show="rosedaleParkList">
			<li ng-repeat="store in places.rosedalePark track by $index" ng-click="chooseShop(places.rosedalePark,$index)">{{store.name}}</li>
		</ul>
	</div>

</div>

<div class="footerContainer">
	<p>Website designed by Autumn Apsey, Rosalie Ryan Campau, and Veronica Williams</p>
</div>
